html, body {
  width: 100%;
  height: 100%;
}

.headerStyle {
background-color: #930b0b;
color: lightGrey;
text-align: center;
}

header h1 {
font-size: 60px;
font-family: Tahoma, sans-serif;
padding: 0px;
line-height: 0px;
}

header h2 {
font-size: 16px;
font-family: Georgia;
}

main{
background-color: wheat;
font-family: tahoma, Arial, sans-serif;
}

h3{
text-align:center;
}

p{
text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
  width: 480px;
  margin: auto;
}

a:link{
color: #930b0b;
}

a:hover{
color: #24a4ff;
}

a:visited{
color: #392bfd;
}

.footer-style{
background-color: #930b0b;
color: lightGrey;
text-align: center;
font-size: 24px;
font-family: Tahoma, sans-serif;
}

h4{
  margin: 8px;
  padding: 8px;
  
}
